/**
 * Variables
 *
 * @author agms
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Standard color definitions - changed - agms
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Labels
   ========================================================================== */
/* Navigation
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
========================================================================== */
/* Media query
========================================================================== */
/* Breakpoints
========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
 ========================================================================== */
/* Border mixin
 *
 ========================================================================== */
/* Color mixin for titlelink and imagewtitle 
*
==============================================================================*/
/* Color mixin for imagewtitle 
*
==============================================================================*/
/* Color mixin for titlelink
*
==============================================================================*/
/*
* Responsive font-size mixins
*/
/**
 * Packery configuration
 *
 * @author agms
 */
/* Variables
========================================================================== */
/* Sizing
========================================================================== */
/* line 53, ../sass/module/_bibsdb.packery.scss */
.packery .colwidth {
  width: 8.33333%;
}
/* line 57, ../sass/module/_bibsdb.packery.scss */
.packery .gutterwidth {
  width: 2%;
}
@media only screen and (max-width: 480px) {
  /* line 57, ../sass/module/_bibsdb.packery.scss */
  .packery .gutterwidth {
    width: 4%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 57, ../sass/module/_bibsdb.packery.scss */
  .packery .gutterwidth {
    width: 4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 57, ../sass/module/_bibsdb.packery.scss */
  .packery .gutterwidth {
    width: 4%;
  }
}
/* line 71, ../sass/module/_bibsdb.packery.scss */
.packery.col1 .gutterwidth {
  width: 8%;
}
/* line 76, ../sass/module/_bibsdb.packery.scss */
.packery .brick {
  float: left;
  position: relative;
  height: 0;
}
/* line 81, ../sass/module/_bibsdb.packery.scss */
.packery .brick .container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
}
/* line 91, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col1.w1 {
  width: 100%;
}
/* line 94, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col1.h1 {
  padding-bottom: 100%;
}
/* line 97, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col1.h15 {
  padding-bottom: 158%;
}
/* line 103, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col2.w1 {
  width: 49%;
}
@media only screen and (max-width: 480px) {
  /* line 103, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.w1 {
    width: 48%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 103, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.w1 {
    width: 48%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 103, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.w1 {
    width: 48%;
  }
}
/* line 115, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col2.w2 {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  /* line 115, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.w2 {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 115, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.w2 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 115, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.w2 {
    width: 100%;
  }
}
/* line 127, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col2.h1 {
  padding-bottom: 49%;
}
@media only screen and (max-width: 480px) {
  /* line 127, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.h1 {
    padding-bottom: 48%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 127, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.h1 {
    padding-bottom: 48%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 127, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col2.h1 {
    padding-bottom: 48%;
  }
}
/* line 144, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col3.w1 {
  width: 32.0%;
}
@media only screen and (max-width: 480px) {
  /* line 144, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w1 {
    width: 30.66667%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 144, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w1 {
    width: 30.66667%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 144, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w1 {
    width: 30.66667%;
  }
}
/* line 156, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col3.w2 {
  width: 66%;
}
@media only screen and (max-width: 480px) {
  /* line 156, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w2 {
    width: 65.33333%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 156, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w2 {
    width: 65.33333%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 156, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w2 {
    width: 65.33333%;
  }
}
/* line 168, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col3.h021 {
  padding-bottom: 5.31%;
}
@media only screen and (max-width: 480px) {
  /* line 168, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h021 {
    padding-bottom: 3.45333%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 168, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h021 {
    padding-bottom: 3.45333%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 168, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h021 {
    padding-bottom: 3.45333%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 181, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w2.h021 {
    width: 80.66667%;
    padding-bottom: 7.55556%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 181, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w2.h021 {
    width: 80.66667%;
    padding-bottom: 7.55556%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 181, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w2.h021 {
    padding-bottom: 4.66667%;
  }
}
/* line 194, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col3.h1 {
  padding-bottom: 32.0%;
}
@media only screen and (max-width: 480px) {
  /* line 194, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h1 {
    padding-bottom: 30.66667%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 194, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h1 {
    padding-bottom: 30.66667%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 194, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h1 {
    padding-bottom: 30.66667%;
  }
}
/* line 206, ../sass/module/_bibsdb.packery.scss */
.packery .brick.col3.h15 {
  padding-bottom: 49.0%;
}
@media only screen and (max-width: 480px) {
  /* line 206, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h15 {
    padding-bottom: 49.0%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 206, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h15 {
    padding-bottom: 49.0%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 206, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.h15 {
    padding-bottom: 49.0%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 220, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w1.h15.header {
    width: 15.33333%;
    padding-bottom: 65.33333%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 220, ../sass/module/_bibsdb.packery.scss */
  .packery .brick.col3.w1.h15.header {
    width: 15.33333%;
    padding-bottom: 65.33333%;
  }
}

/* Basic configuration
========================================================================== */
/* line 239, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall {
  background-color: white;
  padding-top: 1.5%;
}
@media only screen and (max-width: 480px) {
  /* line 239, ../sass/module/_bibsdb.packery.scss */
  .pane-bibsdb-wall-panel-bibsdb-wall {
    padding-top: 4%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 239, ../sass/module/_bibsdb.packery.scss */
  .pane-bibsdb-wall-panel-bibsdb-wall {
    padding-top: 4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 239, ../sass/module/_bibsdb.packery.scss */
  .pane-bibsdb-wall-panel-bibsdb-wall {
    padding-top: 4%;
  }
}
/* line 252, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.front {
  padding: 1.5%;
}
@media only screen and (max-width: 480px) {
  /* line 252, ../sass/module/_bibsdb.packery.scss */
  .pane-bibsdb-wall-panel-bibsdb-wall.front {
    padding: 4%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 252, ../sass/module/_bibsdb.packery.scss */
  .pane-bibsdb-wall-panel-bibsdb-wall.front {
    padding: 4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 252, ../sass/module/_bibsdb.packery.scss */
  .pane-bibsdb-wall-panel-bibsdb-wall.front {
    padding: 4%;
  }
}
/* line 264, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.nocontent {
  display: none;
}
/* line 267, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.nocontent.editormode {
  padding: 0;
  display: block;
}
/* line 271, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.nocontent.editormode .view-bibsdb-wall {
  background: linear-gradient(to left bottom, #ffff00, #ffff00) no-repeat;
  background-size: 60px 20px;
  background-position: right top;
}

/* line 279, ../sass/module/_bibsdb.packery.scss */
.packery {
  background-color: white;
}
/* line 282, ../sass/module/_bibsdb.packery.scss */
.packery .brick {
  font-family: "SourceSansProSemibold";
  word-wrap: break-word;
}
/* line 286, ../sass/module/_bibsdb.packery.scss */
.packery .brick .container {
  background-color: white;
}
@media only screen and (max-width: 480px) {
  /* line 282, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 282, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 100%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 282, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 110%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 282, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 110%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 282, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 130%;
    line-height: 110%;
  }
}
/* line 317, ../sass/module/_bibsdb.packery.scss */
.packery .brick a:link {
  color: rgba(0, 0, 0, 0.7);
}
/* line 320, ../sass/module/_bibsdb.packery.scss */
.packery .brick a:hover {
  color: rgba(0, 0, 0, 0.7);
}
/* line 323, ../sass/module/_bibsdb.packery.scss */
.packery .brick a:visited {
  color: rgba(0, 0, 0, 0.7);
}

/* Walls on ding_page and page_group
============================================================================ */
/* line 334, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout, .node-type-ding-group .default-layout {
  /* Page content */
}
/* line 336, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .primary-content, .node-type-ding-group .default-layout .primary-content {
  clear: left;
  *position: relative;
  *zoom: 1;
}
/* line 46, ../../../../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.node-type-ding-page .default-layout .primary-content:before, .node-type-ding-page .default-layout .primary-content:after, .node-type-ding-group .default-layout .primary-content:before, .node-type-ding-group .default-layout .primary-content:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.node-type-ding-page .default-layout .primary-content:after, .node-type-ding-group .default-layout .primary-content:after {
  clear: both;
}
/* line 342, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 342, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 342, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 342, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
/* line 361, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0 article.page, .node-type-ding-page .default-layout.empty-wall0 .pane-node-content, .node-type-ding-group .default-layout.empty-wall0 article.page, .node-type-ding-group .default-layout.empty-wall0 .pane-node-content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 365, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 365, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 365, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 365, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}

/* Walls */
/* line 389, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .wall.left, .node-type-ding-group .default-layout .wall.left {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: left;
}
/* line 394, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.right {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: right;
}
@media only screen and (max-width: 480px) {
  /* line 400, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall.left, .node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.left, .node-type-ding-group .default-layout .wall.right {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 407, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall.left, .node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.left, .node-type-ding-group .default-layout .wall.right {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 414, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall.left, .node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.left, .node-type-ding-group .default-layout .wall.right {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
/* line 420, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
  clear: right;
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 420, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 420, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 420, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
/* line 440, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0 .wall0, .node-type-ding-group .default-layout.empty-wall0 .wall0 {
  display: none;
}
/* line 444, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
  display: block;
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 444, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 444, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 444, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}

/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */
/* line 210, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.black .container {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 214, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.black .tag:after {
  color: #adcad6;
}
/* line 217, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.black .tag a {
  color: #adcad6;
}
/* line 224, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.blue .container {
  background-color: #2f5a7b;
}
/* line 228, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.blue .tag:after {
  color: #e18203;
}
/* line 231, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.blue .tag a {
  color: #e18203;
}
/* line 238, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.orange .container {
  background-color: #e18203;
}
/* line 242, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.orange .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 245, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.orange .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 252, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.gray .container {
  background-color: #8bb4c5;
}
/* line 256, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.gray .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 259, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.gray .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 266, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.green .container {
  background-color: #528c10;
}
/* line 270, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.green .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 273, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.green .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 280, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.turquoise .container {
  background-color: #286e74;
}
/* line 284, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.turquoise .tag:after {
  color: #e18203;
}
/* line 287, ../sass/framework/_bibsdb.mixins.scss */
.packery .imagewtitle.turquoise .tag a {
  color: #e18203;
}
/* line 14, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .tagandtitle {
  width: 94%;
  position: absolute;
  left: 0;
  top: 68%;
  padding: 3%;
}
@media only screen and (max-width: 480px) {
  /* line 14, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle .tagandtitle {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 14, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle .tagandtitle {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 14, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle .tagandtitle {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 14, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle .tagandtitle {
    font-size: 110%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 14, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle .tagandtitle {
    font-size: 110%;
    line-height: 110%;
  }
}
/* line 27, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .title a:link {
  color: white;
}
/* line 30, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .title a:hover {
  color: white;
}
/* line 33, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .title a:visited {
  color: white;
}
/* line 38, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .title, .packery .imagewtitle .tag {
  display: inline;
}
/* line 42, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .tag::after {
  content: ": ";
}

/**
* Imagewtitle colors
*/
/* line 139, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.black .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 142, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.black .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 150, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.blue .tag:after {
  color: #2f5a7b;
}
/* line 153, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.blue .tag a {
  color: #2f5a7b;
}
/* line 161, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.orange .tag:after {
  color: #e18203;
}
/* line 164, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.orange .tag a {
  color: #e18203;
}
/* line 172, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.gray .tag:after {
  color: #adcad6;
}
/* line 175, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.gray .tag a {
  color: #adcad6;
}
/* line 183, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.green .tag:after {
  color: #528c10;
}
/* line 186, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.green .tag a {
  color: #528c10;
}
/* line 194, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.turquoise .tag:after {
  color: #286e74;
}
/* line 197, ../sass/framework/_bibsdb.mixins.scss */
.packery .largeimagewtitle.turquoise .tag a {
  color: #286e74;
}
/* line 11, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
.packery .largeimagewtitle .tagandtitle {
  width: 70%;
  position: absolute;
  left: 26%;
  top: 20%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 480px) {
  /* line 11, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
  .packery .largeimagewtitle .tagandtitle {
    font-size: 130%;
    line-height: 130%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 11, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
  .packery .largeimagewtitle .tagandtitle {
    font-size: 160%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 11, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
  .packery .largeimagewtitle .tagandtitle {
    font-size: 180%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 11, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
  .packery .largeimagewtitle .tagandtitle {
    font-size: 160%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 11, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
  .packery .largeimagewtitle .tagandtitle {
    font-size: 160%;
    line-height: 110%;
  }
}
/* line 22, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
.packery .largeimagewtitle .title a:link {
  color: white;
}
/* line 25, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
.packery .largeimagewtitle .title a:hover {
  color: white;
}
/* line 28, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
.packery .largeimagewtitle .title a:visited {
  color: white;
}
/* line 33, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
.packery .largeimagewtitle .title, .packery .largeimagewtitle .tag {
  display: inline;
}
/* line 37, ../sass/bricks/_bibsdb.largeimagewtitle.scss */
.packery .largeimagewtitle .tag::after {
  content: ": ";
}

/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */
/* line 11, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .container {
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 15, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .tagandtitle {
  width: 95%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3%;
}
/* line 25, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title {
  color: white;
}
@media only screen and (max-width: 480px) {
  /* line 25, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .title {
    font-size: 100%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 25, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .title {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 25, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .title {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 25, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .title {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 25, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .title {
    font-size: 130%;
    line-height: 110%;
  }
}
/* line 29, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title a:link {
  color: white;
}
/* line 32, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title a:hover {
  color: white;
}
/* line 35, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title a:visited {
  color: white;
}
/* line 42, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .tag a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  /* line 42, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 42, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 42, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 100%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 42, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 42, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 80%;
    line-height: 110%;
  }
}

/**
* Publication colors
*/
/* line 139, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.black .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 142, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.black .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 150, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.blue .tag:after {
  color: #2f5a7b;
}
/* line 153, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.blue .tag a {
  color: #2f5a7b;
}
/* line 161, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.orange .tag:after {
  color: #e18203;
}
/* line 164, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.orange .tag a {
  color: #e18203;
}
/* line 172, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.gray .tag:after {
  color: #adcad6;
}
/* line 175, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.gray .tag a {
  color: #adcad6;
}
/* line 183, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.green .tag:after {
  color: #528c10;
}
/* line 186, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.green .tag a {
  color: #528c10;
}
/* line 194, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.turquoise .tag:after {
  color: #286e74;
}
/* line 197, ../sass/framework/_bibsdb.mixins.scss */
.packery .publication.turquoise .tag a {
  color: #286e74;
}

/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */
/**
* Titlelink styling
*/
/* line 18, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .tagandtitle {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 1%;
  background-image: linear-gradient(to right, #333333 40%, rgba(255, 255, 255, 0) 20%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}
@media only screen and (max-width: 480px) {
  /* line 18, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle {
    font-size: 90%;
    line-height: 90%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 18, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 18, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 18, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle {
    font-size: 110%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 18, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle {
    font-size: 110%;
    line-height: 110%;
  }
}
/* line 29, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .tagandtitle:before {
  font-family: fontawesome;
  content: "\F04D";
  margin-right: .5em;
}
@media only screen and (max-width: 480px) {
  /* line 29, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle:before {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 29, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle:before {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 29, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle:before {
    font-size: 100%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 29, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle:before {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 29, ../sass/bricks/_bibsdb.titlelink.scss */
  .packery .titlelink .tagandtitle:before {
    font-size: 80%;
    line-height: 110%;
  }
}
/* line 38, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .title, .packery .titlelink .tag {
  display: inline;
}
/* line 42, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .tag::after {
  content: ": ";
}

 /**
* Titlelink colors
*/
/* line 300, ../sass/framework/_bibsdb.mixins.scss */
.packery .titlelink.black .tagandtitle:before {
  color: rgba(0, 0, 0, 0.8);
}
/* line 308, ../sass/framework/_bibsdb.mixins.scss */
.packery .titlelink.blue .tagandtitle:before {
  color: #2f5a7b;
}
/* line 316, ../sass/framework/_bibsdb.mixins.scss */
.packery .titlelink.orange .tagandtitle:before {
  color: #e18203;
}
/* line 324, ../sass/framework/_bibsdb.mixins.scss */
.packery .titlelink.gray .tagandtitle:before {
  color: #adcad6;
}
/* line 332, ../sass/framework/_bibsdb.mixins.scss */
.packery .titlelink.green .tagandtitle:before {
  color: #528c10;
}
/* line 340, ../sass/framework/_bibsdb.mixins.scss */
.packery .titlelink.turquoise .tagandtitle:before {
  color: #286e74;
}

/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */
/* line 210, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.black .container {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 214, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.black .tag:after {
  color: #adcad6;
}
/* line 217, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.black .tag a {
  color: #adcad6;
}
/* line 224, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.blue .container {
  background-color: #2f5a7b;
}
/* line 228, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.blue .tag:after {
  color: #e18203;
}
/* line 231, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.blue .tag a {
  color: #e18203;
}
/* line 238, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.orange .container {
  background-color: #e18203;
}
/* line 242, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.orange .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 245, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.orange .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 252, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.gray .container {
  background-color: #8bb4c5;
}
/* line 256, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.gray .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 259, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.gray .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 266, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.green .container {
  background-color: #528c10;
}
/* line 270, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.green .tag:after {
  color: rgba(0, 0, 0, 0.8);
}
/* line 273, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.green .tag a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 280, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.turquoise .container {
  background-color: #286e74;
}
/* line 284, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.turquoise .tag:after {
  color: #e18203;
}
/* line 287, ../sass/framework/_bibsdb.mixins.scss */
.packery .largetitlelink.turquoise .tag a {
  color: #e18203;
}
/* line 14, ../sass/bricks/_bibsdb.largetitlelink.scss */
.packery .largetitlelink .tagandtitle {
  width: 90%;
  position: absolute;
  left: 0;
  top: 10%;
  padding: 5%;
}
@media only screen and (max-width: 480px) {
  /* line 14, ../sass/bricks/_bibsdb.largetitlelink.scss */
  .packery .largetitlelink .tagandtitle {
    font-size: 130%;
    line-height: 130%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 14, ../sass/bricks/_bibsdb.largetitlelink.scss */
  .packery .largetitlelink .tagandtitle {
    font-size: 160%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 14, ../sass/bricks/_bibsdb.largetitlelink.scss */
  .packery .largetitlelink .tagandtitle {
    font-size: 180%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 14, ../sass/bricks/_bibsdb.largetitlelink.scss */
  .packery .largetitlelink .tagandtitle {
    font-size: 160%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 14, ../sass/bricks/_bibsdb.largetitlelink.scss */
  .packery .largetitlelink .tagandtitle {
    font-size: 160%;
    line-height: 110%;
  }
}
/* line 27, ../sass/bricks/_bibsdb.largetitlelink.scss */
.packery .largetitlelink .title a:link {
  color: white;
}
/* line 30, ../sass/bricks/_bibsdb.largetitlelink.scss */
.packery .largetitlelink .title a:hover {
  color: white;
}
/* line 33, ../sass/bricks/_bibsdb.largetitlelink.scss */
.packery .largetitlelink .title a:visited {
  color: white;
}
/* line 38, ../sass/bricks/_bibsdb.largetitlelink.scss */
.packery .largetitlelink .title, .packery .largetitlelink .tag {
  display: inline;
}
/* line 42, ../sass/bricks/_bibsdb.largetitlelink.scss */
.packery .largetitlelink .tag::after {
  content: ": ";
}

/**
 * Style definition of brick-layout: Headers and html fragments
 *
 * @author agms
 */
/**
* Header Styling
*/
/* line 15, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header .container .body p {
  color: white;
  padding: 1%;
  width: 150%;
  transform: rotate(90deg);
  transform-origin: 8% 80% 0;
}
@media only screen and (max-width: 480px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    font-size: 110%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    font-size: 160%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    font-size: 160%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    width: 300%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    width: 300%;
    transform-origin: 4% 90% 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 15, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p {
    width: 300%;
    transform-origin: 4% 90% 0;
  }
}
/* line 34, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header .container .body p:before {
  font-family: fontawesome;
  content: "\F04D";
  margin-right: .5em;
}
@media only screen and (max-width: 480px) {
  /* line 34, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p:before {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* line 34, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p:before {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 939px) {
  /* line 34, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p:before {
    font-size: 100%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 940px) and (max-width: 1210px) {
  /* line 34, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p:before {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 34, ../sass/bricks/_bibsdb.fragments.scss */
  .packery .header .container .body p:before {
    font-size: 80%;
    line-height: 110%;
  }
}

/**
* Header Colors
*/
/* line 54, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.black .container {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 60, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.blue .container {
  background-color: #2f5a7b;
}
/* line 66, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.orange .container {
  background-color: #e18203;
}
/* line 72, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.gray .container {
  background-color: #adcad6;
}
/* line 78, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.green .container {
  background-color: #528c10;
}
/* line 84, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.turquoise .container {
  background-color: #286e74;
}
