/**
 * Variables
 *
 * @author agms
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Standard color definitions - changed - agms
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Labels
   ========================================================================== */
/* Navigation
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
========================================================================== */
/* Media query
========================================================================== */
/* Breakpoints
========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
 ========================================================================== */
/* Border mixin
 *
 ========================================================================== */
/* Ribbon
 *
 ========================================================================== */
/**
 * Packery configuration
 *
 * @author agms
 */
/* Variables
========================================================================== */
/* Sizing
========================================================================== */
/* line 66, ../sass/module/_bibsdb.packery.scss */
.packery .colwidth {
  width: 8.33333%;
}
/* line 70, ../sass/module/_bibsdb.packery.scss */
.packery .gutterwidth {
  width: 2%;
}
/* line 74, ../sass/module/_bibsdb.packery.scss */
.packery .brick {
  float: left;
  position: relative;
  height: 0;
}
/* line 79, ../sass/module/_bibsdb.packery.scss */
.packery .brick .container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
}
/* line 89, ../sass/module/_bibsdb.packery.scss */
.packery .col1.w1 {
  width: 100%;
}
/* line 92, ../sass/module/_bibsdb.packery.scss */
.packery .col1.h05 {
  padding-bottom: 50%;
}
/* line 95, ../sass/module/_bibsdb.packery.scss */
.packery .col1.h010 {
  padding-bottom: 10%;
}
/* line 98, ../sass/module/_bibsdb.packery.scss */
.packery .col1.h020 {
  padding-bottom: 20%;
}
/* line 101, ../sass/module/_bibsdb.packery.scss */
.packery .col1.h005 {
  padding-bottom: 5%;
}
/* line 104, ../sass/module/_bibsdb.packery.scss */
.packery .col1.h1 {
  padding-bottom: 100%;
}
/* line 107, ../sass/module/_bibsdb.packery.scss */
.packery .col1.h15 {
  padding-bottom: 152%;
}
/* line 110, ../sass/module/_bibsdb.packery.scss */
.packery .col1.h2 {
  padding-bottom: 202%;
}
/* line 117, ../sass/module/_bibsdb.packery.scss */
.packery .col2.w1 {
  width: 49%;
}
/* line 120, ../sass/module/_bibsdb.packery.scss */
.packery .col2.w2 {
  width: 100%;
}
/* line 123, ../sass/module/_bibsdb.packery.scss */
.packery .col2.h05 {
  padding-bottom: 24.5%;
}
/* line 126, ../sass/module/_bibsdb.packery.scss */
.packery .col2.h020 {
  padding-bottom: 9.8%;
}
/* line 129, ../sass/module/_bibsdb.packery.scss */
.packery .col2.h005 {
  padding-bottom: 2.45%;
}
/* line 132, ../sass/module/_bibsdb.packery.scss */
.packery .col2.h010 {
  padding-bottom: 4.9%;
}
/* line 135, ../sass/module/_bibsdb.packery.scss */
.packery .col2.h1 {
  padding-bottom: 49%;
}
/* line 138, ../sass/module/_bibsdb.packery.scss */
.packery .col2.h15 {
  padding-bottom: 75.5%;
}
/* line 141, ../sass/module/_bibsdb.packery.scss */
.packery .col2.h2 {
  padding-bottom: 100%;
}
/* line 148, ../sass/module/_bibsdb.packery.scss */
.packery .col3.w1 {
  width: 32.0%;
}
@media only screen and (max-width: 480px) {
  /* line 148, ../sass/module/_bibsdb.packery.scss */
  .packery .col3.w1 {
    width: 49%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 148, ../sass/module/_bibsdb.packery.scss */
  .packery .col3.w1 {
    width: 49%;
  }
}
/* line 158, ../sass/module/_bibsdb.packery.scss */
.packery .col3.w2 {
  width: 66%;
}
/* line 161, ../sass/module/_bibsdb.packery.scss */
.packery .col3.h05 {
  padding-bottom: 16.0%;
}
/* line 164, ../sass/module/_bibsdb.packery.scss */
.packery .col3.h033 {
  padding-bottom: 10.66667%;
}
/* line 167, ../sass/module/_bibsdb.packery.scss */
.packery .col3.h1 {
  padding-bottom: 32.0%;
}
@media only screen and (max-width: 480px) {
  /* line 167, ../sass/module/_bibsdb.packery.scss */
  .packery .col3.h1 {
    padding-bottom: 49%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 167, ../sass/module/_bibsdb.packery.scss */
  .packery .col3.h1 {
    padding-bottom: 49%;
  }
}
/* line 176, ../sass/module/_bibsdb.packery.scss */
.packery .col3.h15 {
  padding-bottom: 50.0%;
}
/* line 179, ../sass/module/_bibsdb.packery.scss */
.packery .col3.h2 {
  padding-bottom: 66%;
}
/* line 186, ../sass/module/_bibsdb.packery.scss */
.packery .col4.w1 {
  width: 23.5%;
}
@media only screen and (max-width: 480px) {
  /* line 186, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.w1 {
    width: 49%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 186, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.w1 {
    width: 49%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 186, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.w1 {
    width: 49%;
  }
}
/* line 198, ../sass/module/_bibsdb.packery.scss */
.packery .col4.w2 {
  width: 49%;
}
/* line 201, ../sass/module/_bibsdb.packery.scss */
.packery .col4.h05 {
  padding-bottom: 11.75%;
}
/* line 204, ../sass/module/_bibsdb.packery.scss */
.packery .col4.h033 {
  padding-bottom: 6.5%;
}
/* line 207, ../sass/module/_bibsdb.packery.scss */
.packery .col4.h15 {
  padding-bottom: 37.25%;
}
@media only screen and (max-width: 480px) {
  /* line 207, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.h15 {
    padding-bottom: 74.5%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 207, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.h15 {
    padding-bottom: 74.5%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 207, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.h15 {
    padding-bottom: 74.5%;
  }
}
/* line 219, ../sass/module/_bibsdb.packery.scss */
.packery .col4.h1 {
  padding-bottom: 23.5%;
}
@media only screen and (max-width: 480px) {
  /* line 219, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.h1 {
    padding-bottom: 49%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 219, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.h1 {
    padding-bottom: 49%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 219, ../sass/module/_bibsdb.packery.scss */
  .packery .col4.h1 {
    padding-bottom: 49%;
  }
}
/* line 231, ../sass/module/_bibsdb.packery.scss */
.packery .col4.h2 {
  padding-bottom: 49%;
}
/* line 238, ../sass/module/_bibsdb.packery.scss */
.packery .col6.w1 {
  width: 15.0%;
}
/* line 241, ../sass/module/_bibsdb.packery.scss */
.packery .col6.w2 {
  width: 32.0%;
}
/* line 244, ../sass/module/_bibsdb.packery.scss */
.packery .col6.h05 {
  padding-bottom: 7.5%;
}
/* line 247, ../sass/module/_bibsdb.packery.scss */
.packery .col6.h033 {
  padding-bottom: 5.0%;
}
/* line 250, ../sass/module/_bibsdb.packery.scss */
.packery .col6.h15 {
  padding-bottom: 24.5%;
}
/* line 253, ../sass/module/_bibsdb.packery.scss */
.packery .col6.h1 {
  padding-bottom: 15.0%;
}
/* line 256, ../sass/module/_bibsdb.packery.scss */
.packery .col6.h2 {
  padding-bottom: 32.0%;
}

/* Basic configuration
========================================================================== */
/* line 265, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall {
  background-color: white;
  padding-top: 1.5%;
}
/* line 269, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.front {
  padding: 1.5%;
}
/* line 272, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.nocontent {
  display: none;
}
/* line 275, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.nocontent.editormode {
  padding: 0;
  display: block;
}
/* line 279, ../sass/module/_bibsdb.packery.scss */
.pane-bibsdb-wall-panel-bibsdb-wall.nocontent.editormode .view-bibsdb-wall {
  background: linear-gradient(to left bottom, #ffff00, #ffff00) no-repeat;
  background-size: 60px 30px;
  background-position: right top;
}

/* line 287, ../sass/module/_bibsdb.packery.scss */
.packery {
  background-color: white;
}
/* line 290, ../sass/module/_bibsdb.packery.scss */
.packery .brick {
  font-family: "SourceSansProSemibold";
  word-wrap: break-word;
}
/* line 294, ../sass/module/_bibsdb.packery.scss */
.packery .brick .container {
  background-color: white;
}
@media only screen and (max-width: 480px) {
  /* line 290, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 80%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 290, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 100%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 290, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 110%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 941px) and (max-width: 1210px) {
  /* line 290, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 110%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 290, ../sass/module/_bibsdb.packery.scss */
  .packery .brick {
    font-size: 130%;
    line-height: 110%;
  }
}
/* line 325, ../sass/module/_bibsdb.packery.scss */
.packery .brick a:link {
  color: rgba(0, 0, 0, 0.7);
}
/* line 328, ../sass/module/_bibsdb.packery.scss */
.packery .brick a:hover {
  color: rgba(0, 0, 0, 0.7);
}
/* line 331, ../sass/module/_bibsdb.packery.scss */
.packery .brick a:visited {
  color: rgba(0, 0, 0, 0.7);
}

/* Walls on ding_page and page_group
============================================================================ */
/* line 342, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout, .node-type-ding-group .default-layout {
  /* Page content */
}
/* line 344, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .primary-content, .node-type-ding-group .default-layout .primary-content {
  clear: left;
  *position: relative;
  *zoom: 1;
}
/* line 46, ../../../../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.node-type-ding-page .default-layout .primary-content:before, .node-type-ding-page .default-layout .primary-content:after, .node-type-ding-group .default-layout .primary-content:before, .node-type-ding-group .default-layout .primary-content:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.node-type-ding-page .default-layout .primary-content:after, .node-type-ding-group .default-layout .primary-content:after {
  clear: both;
}
/* line 350, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 350, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 350, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 350, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout article.page, .node-type-ding-page .default-layout .pane-node-content, .node-type-ding-group .default-layout article.page, .node-type-ding-group .default-layout .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
/* line 369, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0 article.page, .node-type-ding-page .default-layout.empty-wall0 .pane-node-content, .node-type-ding-group .default-layout.empty-wall0 article.page, .node-type-ding-group .default-layout.empty-wall0 .pane-node-content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 373, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 373, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 373, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 373, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode article.page, .node-type-ding-page .default-layout.empty-wall0.editormode .pane-node-content, .node-type-ding-group .default-layout.empty-wall0.editormode article.page, .node-type-ding-group .default-layout.empty-wall0.editormode .pane-node-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}

/* Walls */
/* line 397, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .wall.left, .node-type-ding-group .default-layout .wall.left {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: left;
}
/* line 402, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.right {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  clear: right;
}
@media only screen and (max-width: 480px) {
  /* line 408, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall.left, .node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.left, .node-type-ding-group .default-layout .wall.right {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 415, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall.left, .node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.left, .node-type-ding-group .default-layout .wall.right {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 422, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall.left, .node-type-ding-page .default-layout .wall.right, .node-type-ding-group .default-layout .wall.left, .node-type-ding-group .default-layout .wall.right {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
/* line 428, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
  clear: right;
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 428, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 428, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 428, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout .wall0, .node-type-ding-group .default-layout .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
/* line 448, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0 .wall0, .node-type-ding-group .default-layout.empty-wall0 .wall0 {
  display: none;
}
/* line 452, ../sass/module/_bibsdb.packery.scss */
.node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
  display: block;
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media only screen and (max-width: 480px) {
  /* line 452, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 452, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 452, ../sass/module/_bibsdb.packery.scss */
  .node-type-ding-page .default-layout.empty-wall0.editormode .wall0, .node-type-ding-group .default-layout.empty-wall0.editormode .wall0 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}

/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */
/* line 13, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .img {
  padding-top: 4%;
}
/* line 16, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .tagandtitle {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  background-image: linear-gradient(to right, #333333 40%, rgba(255, 255, 255, 0) 20%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}
/* line 27, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .title, .packery .imagewtitle .tag {
  display: inline;
}
/* line 31, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .tag {
  color: green;
}
/* line 35, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle .tag::after {
  content: ": ";
}
/* line 41, ../sass/bricks/_bibsdb.imagewtitle.scss */
.packery .imagewtitle.w2.h2 .tagandtitle {
  width: 50%;
  position: absolute;
  left: 46%;
  bottom: 70%;
  padding: 2%;
}
@media only screen and (max-width: 480px) {
  /* line 40, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle.w2.h2 {
    font-size: 80%;
    line-height: 110%;
  }
  /* line 53, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle.w2.h2 .tagandtitle {
    width: 80%;
    left: 16%;
    bottom: 50%;
    padding: 2%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 40, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle.w2.h2 {
    font-size: 110%;
    line-height: 110%;
  }
  /* line 65, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle.w2.h2 .tagandtitle {
    width: 70%;
    left: 26%;
    bottom: 60%;
    padding: 2%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 40, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle.w2.h2 {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 941px) and (max-width: 1210px) {
  /* line 40, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle.w2.h2 {
    font-size: 130%;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1211px) {
  /* line 40, ../sass/bricks/_bibsdb.imagewtitle.scss */
  .packery .imagewtitle.w2.h2 {
    font-size: 160%;
    line-height: 110%;
  }
}

/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */
/* line 14, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .container {
  background-color: black;
}
/* line 19, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title {
  color: white;
  width: 92%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4%;
  line-height: 26px;
  font-size: 130%;
}
/* line 29, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title a:link {
  color: white;
}
/* line 32, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title a:hover {
  color: white;
}
/* line 35, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .title a:visited {
  color: white;
}
@media only screen and (max-width: 480px) {
  /* line 19, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .title {
    font-size: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 19, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .title {
    font-size: 100%;
  }
}
/* line 53, ../sass/bricks/_bibsdb.publication.scss */
.green .packery .publication .tag {
  background-color: #f18f01;
  border: 2px solid #feb140;
  color: white;
  display: block;
  width: 60%;
  margin: 1px 0;
  padding-right: 1%;
  padding-left: 1%;
  text-align: center;
  position: absolute;
  right: 0px;
  line-height: 18px;
  top: 10%;
}
/* line 58, ../sass/bricks/_bibsdb.publication.scss */
.packery .publication .tag a {
  color: white;
  text-decoration: none;
  font-size: 80%;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  /* line 58, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 58, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 80%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 940px) {
  /* line 58, ../sass/bricks/_bibsdb.publication.scss */
  .packery .publication .tag a {
    font-size: 100%;
  }
}

/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */
/**
* Titlelink styling
*/
/* line 15, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .tagandtitle {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 130%;
  line-height: 25px;
  background-image: linear-gradient(to right, #333333 40%, rgba(255, 255, 255, 0) 20%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}
/* line 30, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .title, .packery .titlelink .tag {
  display: inline;
}
/* line 35, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .tag a {
  color: #7fc241;
}
/* line 40, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink .tag::after {
  content: ": ";
  color: #7fc241;
}

 /**
* Titlelink colors
*/
/* line 57, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.black .tag:after {
  color: rgba(0, 0, 0, 0.7);
}
/* line 60, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.black .tag a {
  color: rgba(0, 0, 0, 0.7);
}
/* line 68, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.blue .tag:after {
  color: #006e90;
}
/* line 71, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.blue .tag a {
  color: #006e90;
}
/* line 79, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.orange .tag:after {
  color: #f18f01;
}
/* line 82, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.orange .tag a {
  color: #f18f01;
}
/* line 90, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.gray .tag:after {
  color: #adcad6;
}
/* line 93, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.gray .tag a {
  color: #adcad6;
}
/* line 101, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.green .tag:after {
  color: #6da737;
}
/* line 104, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.green .tag a {
  color: #6da737;
}
/* line 112, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.turquoise .tag:after {
  color: #41bbd9;
}
/* line 115, ../sass/bricks/_bibsdb.titlelink.scss */
.packery .titlelink.turquoise .tag a {
  color: #41bbd9;
}

/**
 * Style definition of brick-layout: Headers and html fragments
 *
 * @author agms
 */
/**
* Header Styling
*/
/* line 15, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header .container h2 {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1%;
  width: 100%;
  margin-bottom: 7px;
  font-size: 130%;
}

/**
* Header Colors
*/
/* line 38, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.black .container {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 40%);
  background-position: bottom;
  background-size: 3px 4px;
  background-repeat: repeat-x;
}
/* line 41, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.black h2 {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 47, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.blue .container {
  background-image: linear-gradient(to right, #006e90 40%, #006e90 40%);
  background-position: bottom;
  background-size: 3px 4px;
  background-repeat: repeat-x;
}
/* line 50, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.blue h2 {
  background-color: #006e90;
}
/* line 56, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.orange .container {
  background-image: linear-gradient(to right, #f18f01 40%, #f18f01 40%);
  background-position: bottom;
  background-size: 3px 4px;
  background-repeat: repeat-x;
}
/* line 59, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.orange h2 {
  background-color: #f18f01;
}
/* line 65, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.gray .container {
  background-image: linear-gradient(to right, #adcad6 40%, #adcad6 40%);
  background-position: bottom;
  background-size: 3px 4px;
  background-repeat: repeat-x;
}
/* line 68, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.gray h2 {
  background-color: #adcad6;
}
/* line 74, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.green .container {
  background-image: linear-gradient(to right, #6da737 40%, #6da737 40%);
  background-position: bottom;
  background-size: 3px 4px;
  background-repeat: repeat-x;
}
/* line 77, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.green h2 {
  background-color: #6da737;
}
/* line 83, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.turquoise .container {
  background-image: linear-gradient(to right, #41bbd9 40%, #41bbd9 40%);
  background-position: bottom;
  background-size: 3px 4px;
  background-repeat: repeat-x;
}
/* line 86, ../sass/bricks/_bibsdb.fragments.scss */
.packery .header.turquoise h2 {
  background-color: #41bbd9;
}

/**
* Horizontal Ruler styling
*/
/* line 99, ../sass/bricks/_bibsdb.fragments.scss */
.packery .horizontalruler hr {
  border: 2px solid black;
  margin: 0.2em 0;
}

/**
* Horizontal Ruler Colors
*/
/* line 114, ../sass/bricks/_bibsdb.fragments.scss */
.packery .horizontalruler.black hr {
  border-color: rgba(0, 0, 0, 0.7);
}
/* line 120, ../sass/bricks/_bibsdb.fragments.scss */
.packery .horizontalruler.blue hr {
  border-color: #006e90;
}
/* line 126, ../sass/bricks/_bibsdb.fragments.scss */
.packery .horizontalruler.orange hr {
  border-color: #f18f01;
}
/* line 132, ../sass/bricks/_bibsdb.fragments.scss */
.packery .horizontalruler.gray hr {
  border-color: #adcad6;
}
/* line 138, ../sass/bricks/_bibsdb.fragments.scss */
.packery .horizontalruler.green hr {
  border-color: #6da737;
}
/* line 144, ../sass/bricks/_bibsdb.fragments.scss */
.packery .horizontalruler.turquoise hr {
  border-color: #41bbd9;
}
