/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */



 .packery {

 	.largetitlelink {
 		@include colored-background();

 		.tagandtitle {

 			@include largest-font();
 			
 			width: 90%;
 			position: absolute;
 			left: 0;
 			top: 10%;
 			padding: 5%;
 		}

 		.title {

 			a:link {
 				color: $white;
 			}
 			a:hover {
 				color: $white;
 			}
 			a:visited {
 				color: $white;
 			} 			
 		}

 		.title, .tag {
 			display: inline;
 		}

 		.tag::after {
 			content: ": ";
 		}
 	}
 }

