/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */



 .packery {

 	.titlelinkwteaser {
 		@include colored-background();

 		.tagandtitleandlead {

 			width: 90%;
 			position: absolute;
 			left: 0%;
 			top: 5%;
 			padding: 5%;
 		}

 		.title, .lead {

 			a:link {
 				color: $white;
 			}
 			a:hover {
 				color: $white;
 			}
 			a:visited {
 				color: $white;
 			} 			
 		}

 		.title {
 			@include larger-font();
 		}

 		.tag {
 			@include tiny-font();
 			text-transform: uppercase;
 			padding-bottom: 3%;
 		}

 		.lead {
 			@include small-font();
 			padding-top: 4%;
 			font-family: "SourceSansProRegular"; 			
 		}
 	}
 }

