/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */



 .packery {

 	.imagewtitle {

 		.tagandtitle {
 			width: 100%;
 			position: absolute;
 			left: 0;
 			bottom: 0;
 			background-color: $white;
 			padding: 3% 0;
 			@include dotted-gradient;

 		}

 		.title {
 			@include medium-font();
 		}

 		.tag {
 			a {
 				@include tiny-font();
 				color: $black;
 				text-decoration: none;
 				text-transform: uppercase;
 			}
 		}
 	}
 }

 /**
* Publication colors
*/

.packery {
	.imagewtitle {
		@include colored-tag();
	}

}

