/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */


 .packery {

 	.publication {
 		.container {
 			background-color: transparentize($white, .1);

 		}
 		.tagandtitle {
 			width: 95%;
 			position: absolute;
 			left: 0;
 			bottom: 0;
 			background-color: $brickblack;
 			padding: 3%;

 		}

 		.title {
 			@include large-font();
 			color: $white;
 			
 			a:link {
 				color: $white;
 			}
 			a:hover {
 				color: $white;
 			}
 			a:visited {
 				color: $white;
 			}

 			@include low() {
 				&::before {
 					content: "low ";
 				}
 			}

 			@include small() {
 				&::before {
 					content: "small ";
 				}
 			}

 			@include medium() {
 				&::before {
 					content: "medium ";
 				}
 			}


 			@include large() {
 				&::before {
 					content: "large ";
 				}
 				line-height: $font-size-medium;
 			}

 			@include x-large() {
 				&::before {
 					content: "x-large ";
 				}
 			} 			
 		}

 		.tag {
 			a {
 				@include tiny-font();
 				color: $white;
 				text-decoration: none;
 				text-transform: uppercase;
 			}
 		}
 	}
 }

/**
* Publication colors
*/

.packery {
	.publication {
		@include colored-tag();
	}

}

