/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */


 .packery {

 	.publication {
 		.container {
 			background-color: $black;

 		}
 		.tagandtitle {
 			width: 92%;
 			position: absolute;
 			left: 0;
 			bottom: 0;
 			background-color: $brickblack;
 			padding: 4%;

 		}

 		.title {
 			@include large-font();
 			color: $white;
 			
 			a:link {
 				color: $white;
 			}
 			a:hover {
 				color: $white;
 			}
 			a:visited {
 				color: $white;
 			} 			
 		}

 		.tag {
 			a {
 				@include tiny-font();
 				color: $white;
 				text-decoration: none;
 				text-transform: uppercase;
 			}
 		}
 	}
 }

/**
* Publication colors
*/

.packery {
	.publication {
		@include colored-tag();
	}

}

