/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */

/**
* Titlelink styling
*/

.packery {

	.titlelink {

		.tagandtitle {

			@include medium-font();
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			padding-bottom: 1%;

			@include dotted-gradient;

			&:before {
				font-family: fontawesome;
				@include tiny-font();
		    content: "\F04D";
		    margin-right: .5em;
			}

		}

		.title, .tag {
			display: inline;
		}

		.tag::after {
			content: ": ";
		}
	}
}

 /**
* Titlelink colors
*/

.packery {
	.titlelink {
		@include colored-dot();	
	}
}