/**
 * Style definition of brick-layout: Headers and html fragments
 *
 * @author agms
 */


/**
* Header Styling
*/

.packery {
	.header {
		.container {
			.body p{
				color: white;
				padding: 1%;
				width: 150%;
				@include larger-font();
				transform: rotate(90deg);
				transform-origin: 8% 80% 0;	
				&:before {
					font-family: fontawesome;
					@include tiny-font();
					content: "\F04D";
					margin-right: .5em;
				}
			}
		}
	}
}


/**
* Header Colors
*/

.packery {
	.header {

		&.black {
			.container {
				background-color: $brickblack
			}
		}

		&.blue {
			.container {
				background-color: $brickblue;
			}
		}

		&.orange {
			.container {
				background-color: $brickorange;
			}
		}

		&.gray {
			.container {
				background-color: $brickgray;
			}
		}

		&.green {
			.container {
				background-color: $brickgreen;
			}
		}

		&.turquoise {
			.container {
				background-color: $brickturquoise;
			}
		}
	}
}

