/**
 * Variables
 *
 * @author agms
 */



/* Spacing variables
   ========================================================================== */

$large-spacing:                   20px;
$medium-spacing:                  10px;
$small-spacing:                   5px;



/* Zen Grid variables
   ========================================================================== */

$zen-column-count: 12;
$zen-gutter-width: 20px;
$box-sizing-polyfill-path: "/profiles/ding2/themes/ddbasic/scripts/boxsizing.htc";




/* Standard color definitions - changed - agms
   ========================================================================== */

$white:                          #fff !default;
$black:                          #000 !default;
$gray:                           #b7bbbf !default;
$gray-light:                     lighten($gray, 10%) !default;
$gray-lighter:                   lighten($gray, 15%) !default;
$gray-lightest:                  lighten($gray, 20%) !default;
$gray-dark:                      #979da2 !default;
$gray-darker:                    darken($gray, 25%) !default;
$gray-darkest:                   #6d6e71 !default;
$red:                            #a32e10;
$yellow:                         #f0cb28;
$blue:                           #00caff;
$green:                          #7fc241;
$green-dark:										 darken($green, 12%) !default;
$green-darker:									 darken($green-dark, 15%) !default;
$mkh-blue1:                      #373e4f;

$brickgreen:                     #528c10;
$brickblue:                      #2F5A7B;
$brickorange:                    #E18203;
$brickgray:                      #ADCAD6;
$brickturquoise:                 #286E74;
$brickblack:                     #333333;


/* Font library
   ========================================================================== */

$base-icon-library-font:         "FontAwesome";


/* Typography
   ========================================================================== */

$font-light:                      "brother_1816thin";
$font-light-italic:               "brother_1816thin_italic";
$font-regular:                    "brother_1816regular";
$font-regular-italic:             "brother_1816regular_italic";
$font-bold:                       "brother_1816medium";
$font-bold-italic:                "brother_1816medium_italic";
$font-color-primary:              transparentize($black, .3);
$font-extrabold:                  "brother_1816bold";



/* Font variables
   ========================================================================== */

$base-font-size:                  14px;
$base-line-height:                22px;
$base-font-family:                $font-regular, "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
$base-font-weight-normal:         normal;
$base-font-weight-bold:           normal;


/* Font sizes
   ========================================================================== */


$font-size-giga:                  200%;
$font-size-largest:               180%;
$font-size-larger:                160%;
$font-size-large:                 130%;
$font-size-medium:                110%;
$font-size-reset:                 100%;
$font-size-small:                 90%;
$font-size-tiny:                  80%;


/* Labels
   ========================================================================== */

$label-border-radius:             8px;
$label-shadow:                    0 -1px 0 rgba(0,0,0,.25);
$label-padding:                   3px 10px;


/* Navigation
   ========================================================================== */

$navbar-bg-color:                 transparentize($white, .95);
$navbar-bg-active-color:          transparentize($white, .95);
$navbar-text-color:               lighten($black, 30%);
$navbar-text-color-active:        lighten($black, 30%);


/* Availability
   ========================================================================== */

$availability-pending:                  $gray-darker;
$availability-processed:                $gray-darker;
$availability-available:                $green;
$availability-reservable:               $yellow;
$availability-available-reservable:     $green;
$availability-available-not-reservable: $red;
