/**
 * Packery configuration
 *
 * @author agms
 */



/* Variables
========================================================================== */

//col1
$col1width1: 105%; // 1/colnum*100% - gutternum/colnum * gutterwidth
$col1height1: 105%;
$col1height15: (1/1 * 100%) * 3/2 + 8%;

//col2
$col2width1: (1/2 * 100%) - (1/2 * 2%); // 1/colnum*100% - gutternum/colnum * gutterwidth
$col2width2: ((1/2 * 100%) - (1/2 * 2%)) * 2 + 2%;
$col2height15: ((1/2 * 100%) - (1/2 * 2%)) * 3/2 + 2%;
$col2height1: ((1/2 * 100%) - (1/2 * 2%));

$col2width1small: (1/2 * 100%) - (1/2 * 4%); // 1/colnum*100% - gutternum/colnum * gutterwidth
$col2width2small: ((1/2 * 100%) - (1/2 * 4%)) * 2 + 4%;
$col2height15small: ((1/2 * 100%) - (1/2 * 4%)) * 3/2 + 4%;
$col2height1small: ((1/2 * 100%) - (1/2 * 4%));


//col3
$col3width1: (1/3 * 100%) - (2/3 * 2%); // 1/colnum*100% - gutternum/colnum * gutterwidth
$col3width2: ((1/3 * 100%) - (2/3 * 2%)) * 2 + 2%;
$col3height021: ((1/3 * 100%) - (2/3 * 2%)) * (43/200) - (157/200 * 2%);
$col3height1: ((1/3 * 100%) - (2/3 * 2%));
$col3height15: ((1/3 * 100%) - (2/3 * 2%)) * 3/2 + 1%; // + 2% replaced with + 1% to make it inline with 2col-height1

$col3width1small: (1/3 * 100%) - (2/3 * 4%); // 1/colnum*100% - gutternum/colnum * gutterwidth
$col3width2small: ((1/3 * 100%) - (2/3 * 4%)) * 2 + 4%;
$col3width25small: ((1/3 * 100%) - (2/3 * 4%)) * 5/2 + 4%;
$col3width05small: ((1/3 * 100%) - (2/3 * 4%)) * 1/2;
$col3height021small: ((1/3 * 100%) - (2/3 * 4%)) * (43/200) - (157/200 * 4%);
$col3height033small: ((1/3 * 100%) - (2/3 * 4%)) * (1/3) - (2/3 * 4%);
$col3height025small: ((1/3 * 100%) - (2/3 * 4%)) * (1/4) - (3/4 * 4%);
$col3height1small: ((1/3 * 100%) - (2/3 * 4%));
$col3height15small: ((1/3 * 100%) - (2/3 * 4%)) * 3/2 + 3%; // + 4% replaced with + 3% to make it inline with 2col-height1
$col3height2small: ((1/3 * 100%) - (2/3 * 4%)) * 2 + 4%;



/* Sizing
========================================================================== */
.packery {

	.colwidth {
		width: (1/12 * 100%);
	}

	.gutterwidth {
		width: 2%;
		@include low() {
			width: 4%;
		}
		@include small() {
			width: 4%;
		}
		@include medium() {
			width: 4%;
		}
	}

	&.col1{
		.gutterwidth {
			width: 8%;
			@include low() {
				width: 4%;
			}
			@include small() {
				width: 4%;
			}
			@include medium() {
				width: 4%;
			}
		}

	}
}

.wall.right .packery.col1 {
	.gutterwidth {
		width: 4%;
	}
}

.packery {

	.brick { 
		float: left;
		position: relative;
		height: 0;

		.container {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			overflow: hidden;
		}


		&.col1 {
			&.w1 {
				width: $col1width1;
				@include low() {
					width: $col2width1small;
				}
				@include small() {
					width: $col2width1small;
				}
				@include medium() {
					width: $col2width1small;
				}
				@include large() {
					width: 110%;
				}
				@include x-large() {
					width: 105%;
				}
			}
			&.h1 {
				padding-bottom: $col1height1;
				@include low() {
					padding-bottom: $col2height1small;
				}
				@include small() {
					padding-bottom: $col2height1small;
				}
				@include medium() {
					padding-bottom: $col2height1small;
				}
				@include large() {
					padding-bottom: 106%;
				}
				@include x-large() {
					padding-bottom: 105%;
				}
			}
			&.h15 {
				padding-bottom: $col1height15;
				@include low() {
					padding-bottom: $col2height15small;
				}
				@include small() {
					padding-bottom: $col2height15small;
				}
				@include medium() {
					padding-bottom: $col2height15small;
				}
			}
		}

		&.col2 {
			&.w1 {
				width: $col2width1;
				@include low() {
					width: $col2width1small;
				}
				@include small() {
					width: $col2width1small;
				}
				@include medium() {
					width: $col2width1small;
				}
			}
			&.w2 {
				width: $col2width2;
				@include low() {
					width: $col2width2small;
				}
				@include small() {
					width: $col2width2small;
				}
				@include medium() {
					width: $col2width2small;
				}
			}
			&.h1 {
				padding-bottom: $col2height1;
				@include low() {
					padding-bottom: $col2height1small;
				}
				@include small() {
					padding-bottom: $col2height1small;
				}
				@include medium() {
					padding-bottom: $col2height1small;
				}
			}
			

		}

		&.col3 {
			&.w1 {
				width: $col3width1;
				@include low() {
					width: $col3width1small;
				}
				@include small() {
					width: $col3width1small;
				}
				@include medium() {
					width: $col3width1small;
				}
			}
			&.w2 {
				width: $col3width2;
				@include low() {
					width: $col3width2small;
				}
				@include small() {
					width: $col3width2small;
				}
				@include medium() {
					width: $col3width2small;
				}
			}
			&.h021 {
				padding-bottom: $col3height021;
				@include low() {
					padding-bottom: $col3height021small;
				}
				@include small() {
					padding-bottom: $col3height021small;
				}
				@include medium() {
					padding-bottom: $col3height021small;
				}
			}
			// Make title-link span the entire width on low/small screens
			&.w2.h021 {
				@include low() {
					width: $col3width25small;
					padding-bottom: $col3height033small;
				}
				@include small() {
					width: $col3width25small;
					padding-bottom: $col3height033small;
				}
				@include medium() {
					padding-bottom: $col3height025small;
				}
			}
			&.h1 {
				padding-bottom: $col3height1;
				@include low() {
					padding-bottom: $col3height1small;
				}
				@include small() {
					padding-bottom: $col3height1small;
				}
				@include medium() {
					padding-bottom: $col3height1small;
				}
			}
			&.h15 {
				padding-bottom: $col3height15;
				@include low() {
					padding-bottom: $col3height15small;
				}
				@include small() {
					padding-bottom: $col3height15small;
				}
				@include medium() {
					padding-bottom: $col3height15small;
				}
			}

			// Shrink link header on small screens
			&.w1.h15.header {
				@include low() {
					width: $col3width05small;
					padding-bottom: $col3height2small;
				}
				@include small() {
					width: $col3width05small;
					padding-bottom: $col3height2small;
				}
			}
		}

	}
	
}


/* Basic configuration
========================================================================== */
.wall {
	background-color: $white;
	padding-top: 1.5%;
	@include low() {
		padding-top: 4%;
	}
	@include small() {
		padding-top: 4%;
	}
	@include medium() {
		padding-top: 4%;
	}

	&.front {
		padding: 1.5%;
		@include low() {
			padding: 4%;
		}
		@include small() {
			padding: 4%;
		}
		@include medium() {
			padding: 4%;
		}
	}



	&.nocontent {
		display: none;
	}
	&.nocontent.editormode {
		padding: 0;
		display: block;

		.view-bibsdb-wall {
			background: linear-gradient( to left bottom, yellow, yellow) no-repeat;
			background-size: 60px 20px;
			background-position: right top;
		}
	}
}

.packery {
	background-color: $white;

	.brick {
		font-family: $font-bold;
		word-wrap: break-word;

		.container {
			background-color: $white;
		}

		@include low() {
			font-size: $font-size-tiny;
			line-height: $font-size-medium;
		}

		@include small() {
			font-size: $font-size-reset;
			line-height: $font-size-medium;
		}

		@include medium() {
			font-size: $font-size-medium;
			line-height: $font-size-medium;
		}


		@include large() {
			font-size: $font-size-medium;
			line-height: $font-size-medium;
		}

		@include x-large() {
			font-size: $font-size-large;
			line-height: $font-size-medium;
		}


		a:link {
			color: $font-color-primary;
		}
		a:hover {
			color: $font-color-primary;
		}
		a:visited {
			color: $font-color-primary;
		}
	}
}



/* Walls on ding_page and page_group
============================================================================ */

.node-type-ding-page .default-layout, .node-type-ding-group .default-layout {

	.primary-content {
		@include zen-clear();
		@include zen-grid-container;
	}

	/* Page content */
	article.page, .pane-node-content {
		@include zen-grid-item(9, 1);

		@include low() {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include small {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include medium {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}
	}

	&.empty-wall0 article.page, &.empty-wall0 .pane-node-content{
		@include zen-grid-item(12, 1);
	}

	&.empty-wall0.editormode article.page, &.empty-wall0.editormode .pane-node-content {
		@include zen-grid-item(9, 1);
		@include low() {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include small {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include medium {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}
	}

}


/* Walls */
.node-type-ding-page .default-layout, .node-type-ding-group .default-layout {

	.wall.left {
		@include zen-grid-item(6, 1);
		@include zen-clear(left);

		&.seccontent {
			@include zen-grid-item(8, 1);
			@include zen-nested-container;
		}
	}

	.wall.right {
		@include zen-grid-item(6, 7);
		@include zen-clear(right);
		
		&.seccontent {
			@include zen-grid-item(4, 9);
		}
	}

	@include low() {
		.wall.left, .wall.right {
			@include zen-grid-item(12, 1);
			@include zen-clear();
			&.seccontent {
				@include zen-grid-item(12, 1);
				@include zen-clear();
			}
		}
	}

	@include small {
		.wall.left, .wall.right {
			@include zen-grid-item(12, 1);
			@include zen-clear();
			&.seccontent {
				@include zen-grid-item(12, 1);
				@include zen-clear();
			}
		}
	}

	@include medium {
		.wall.left, .wall.right {
			@include zen-grid-item(12, 1);
			@include zen-clear();
			&.seccontent {
				@include zen-grid-item(12, 1);
				@include zen-clear();
			}
		}
	}

	.wall0 {
		@include zen-clear(right);
		@include zen-grid-item(3, 1, right);

		@include low() {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include small {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include medium {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}
	}

	&.empty-wall0 .wall0 {
		display: none;
	}

	&.empty-wall0.editormode .wall0 {
		display: block;
		@include zen-grid-item(3, 1, right);
		@include low() {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include small {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}

		@include medium {
			@include zen-grid-item(12, 1);
			@include zen-clear();
		}
	}
}











