/**
 * masonry configuration
 *
 * @author agms
 */



/* Variables
========================================================================== */

$gutter: 3%;

$frontgutter: 1%;

// 1/colnum*100% - gutternum/colnum * gutterwidth

//col1
$col1width1: 100%; 
$col1height1: 100%;
$col1height15: (1/1 * 100%) * 3/2 + $gutter;
$col1height3: (1/1 * 100%) * 3 + 2 * $gutter;
$col1height169: ((1/1 * 100%) - $gutter) * 9/16;

//col2
$col2width1: (1/2 * 100%) - (1/2 * $gutter); 
$col2width1f: (1/2 * 100%) - (1/2 * $frontgutter); 
$col2width2: ((1/2 * 100%) - (1/2 * $gutter)) * 2 + $gutter;
$col2height12: ((1/2 * 100%) - (1/2 * $gutter)) * 12/10 + $gutter;
$col2height169: ((1/2 * 100%) - (1/2 * $gutter)) * 9/16;
$col2height01f: ((1/2 * 100%) - (1/3 * $frontgutter)) * 1/10;
$col2height1: ((1/2 * 100%) - (1/2 * $gutter));

//col3
$col3width1: (1/3 * 100%) - (2/3 * $gutter); // 1/colnum*100% - gutternum/colnum * gutterwidth
$col3width1f: (1/3 * 100%) - (2/3 * $frontgutter);
$col3width2: ((1/3 * 100%) - (2/3 * $gutter)) * 2 + $gutter;
$col3width3: ((1/3 * 100%) - (2/3 * $gutter)) * 3 + 2 * $gutter;
$col3width05: ((1/3 * 100%) - (2/3 * $gutter)) * 1/2;
$col3height1: ((1/3 * 100%) - (2/3 * $gutter));
$col3height169: ((1/3 * 100%) - (2/3 * $gutter)) * 9/16;
$col3height01f: ((1/3 * 100%) - (2/3 * $frontgutter)) * 1/10;
$col3width25: ((1/3 * 100%) - (2/3 * $gutter)) * 5/2 + $gutter;
$col3height2: ((1/3 * 100%) - (2/3 * $gutter)) * 2 + $gutter;

//col4
$col4width1: (1/4 * 100%) - (3/4 * $gutter); // 1/colnum*100% - gutternum/colnum * gutterwidth
$col4width2: ((1/4 * 100%) - (3/4 * $gutter)) * 2 + $gutter;
$col4height1: ((1/4 * 100%) - (3/4 * $gutter));





/* Sizing
========================================================================== */

.masonry {

	.colwidth {
		width: (1/12 * 100%) - (11/12 * $gutter);
	}

	.gutterwidth {
		width: $gutter;
	}

}

.front .masonry {
	.gutterwidth {
		width: $frontgutter;
	}
}

.masonry {
	clear: both;

	.brick { 
		float: left;
		position: relative;
		height: 0;

		.container {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			overflow: hidden;
		}

		&.col2 {
			&.w1 {
				width: $col2width1;

				// On mobile change 2 col layout to 1 col layout
				@include media($mobile){
					width: $col1width1;
				}
			}
			&.w2 {
				width: $col2width2;
			}
			&.h1 {
				padding-bottom: $col2height1;

				// On mobile change 2 col layout to 1 col layout
				@include media($mobile){
					padding-bottom: $col1height1;
				}
			}
			&.h169 {
				padding-bottom: $col2height169;

				// On mobile change 2 col layout to 1 col layout
				@include media($mobile){
					padding-bottom: $col1height169;
				}
			}
		}

		&.col3 {
			&.w1 {
				width: $col3width1;

				// On tablet change 3 col layout to 2 col layout
				@include media($tablet){
					width: $col2width1;
				}

				// On mobile change 3 col layout to 1 col layout
				@include media($mobile){
					width: $col1width1;
				}
			}
			&.w2 {
				width: $col3width2;

				// On tablet change 3 col layout to 2 col layout
				@include media($tablet) {
					width: $col2width2;
				}

				// On mobile change 3 col layout to 1 col layout
				@include media($mobile){
					width: $col1width1;
				}
			}
			&.w3 {
				width: $col3width3;
				// On tablet change 3 col layout to 2 col layout
				@include media($tablet) {
					width: $col2width2;
				}

				// On mobile change 3 col layout to 1 col layout
				@include media($mobile){
					width: $col1width1;
				}
			}
			&.h169 {
				padding-bottom: $col3height169;

				// On tablet change 3 col layout to 2 col layout
				@include media($tablet) {
					padding-bottom: $col2height169;
				}

				// On mobile change 3 col layout to 1 col layout
				@include media($mobile){
					padding-bottom: $col1height169;
				}
			}
			&.h1 {
				padding-bottom: $col3height1;

				// On tablet change 3 col layout to 2 col layout
				@include media($tablet) {
					padding-bottom: $col2height1;
				}

				// On mobile change 3 col layout to 1 col layout
				@include media($mobile){
					padding-bottom: $col1height1;
				}
			}
			&.h1.w2 {
				// On mobile change 3 col layout to 1 col layout
				// Take care of the rectagular brick
				@include media($mobile){
					padding-bottom: $col2height1;
				}

			}
			&.h380 {
				padding-bottom: 380px;
				@include media($tablet) {
					padding-bottom: 420px;
				}
				@include media($mobile) {
					padding-bottom: 430px;
				}
			}
		}

		&.col4 {
			&.w1 {
				width: $col4width1;
			}
			&.w2 {
				width: $col4width2;
			}
			&.h1 {
				padding-bottom: $col4height1;
			}
		}

	}

	
}

/* Wall margins and paddings
========================================================================== */

.content-wrapper .pane-content .default-panel-layout .attachments-wrapper .panel-pane.wall .panel-pane-inner {
	padding: 0;
}


/* Wall title
========================================================================== */

.content-wrapper .pane-content .default-panel-layout .attachments-wrapper .panel-pane.wall-title {
	background-color: $grey-light;
	background-image: none;
	.panel-pane-inner {
		padding: 40px 0 0;
	}
}

.wall-title {
	clear: both;
	h2 {
		@include font('display-large');
		color: $color-text;
		margin-bottom: 20px;
		// Mobile
		@include media($mobile) {
			margin-bottom: 10px;
		}
	}
}

/* Editor mode 
========================================================================== */

.wall {
	
	&.nocontent {
		display: none;
	}
	&.nocontent.editormode {
		clear: both;
		padding: 0;
		display: block;

		.brick {
			width: 100%;
			padding-bottom: 20px;
			.container {
				background-color: yellow;
				margin: 2px;
			}
		}
	}	
}

.masonry {
	.brick {
		margin-bottom: $gutter;

		a:link {
			color: $color-standard-text;
		}
		a:hover {
			color: $color-standard-text;
		}
		a:visited {
			color: $color-standard-text;
		}
	}
}


/* INFO + INSPIRATION - span the entire page
============================================================================ */

.page-node-2187, .page-node-123 {
	.content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .primary-content {
		width: 100%;
	}
}








