/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */


.newmaterials {

 	.title {
 		font-size: $font-size-large;
 		font-family: $font-bold;
 		font-weight: normal;
 		padding: 20px 0 20px 0;
 	}

 	.slick-arrow {
 		min-height: 40px;
 		width: 40px;
 		background-color: $mkh-blue1;
 		opacity: .80;
 	}
 	.slick-prev:before,
 	.slick-next:before {
 		font-size: 30px;
 		opacity: .90;
 		color: white;
    font-family: FontAwesome;

  }

 	.slick-prev {
 		left: 15px;
 		top: 45%;
 		z-index: 1;
 		&:before {
 			content: "\f053";
 		}
 	}

 	.slick-next {
 		right: 15px;
 		top: 45%;
    &:before {
 			content: "\f054";
 		}
 	}	

 	.open-platform-item-list {
 		height: 250px;
 	}

 	.open-platform-item {
 		margin: 0 8px;
 		background-color: $gray-light;

 		a {
 			display: block;
 			position: relative;
 			padding-bottom: 170%;
 			background-size: cover;
 			background-repeat: no-repeat;
 			background-position: center -10px;
 			text-decoration: none;
 			@media only screen and (max-width: $breakpoint-medium) {
 				padding-bottom: 190%;
 			}
 		}

 		&.ajax-loader {
 			/*background-image: url('../images/ajax-loader.gif');*/
 			img {
 				display: block;
 				margin: auto;
 				padding: 60% 0;
 			}

 			

 		}
 	}

 	.item-container {
 		position: absolute;
 		bottom: 0px;
 		left: 0;

 		width: 100%;

 		padding-top: 12%;
 		background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
 	}

 	.item-author, .item-title {
 		@include font-normal();
 		line-height: 120%;
 		font-size: 75%;
 		color: $black;
 		@media only screen and (max-width: $breakpoint-large) {
 			font-size: 90%;
 		}
 	}
 	.item-title {
 		@include font-bold();
 	}
 }
 
