 .newmaterialbutton {

 	 	.wrapper {
 			width: 100%;
 			position: absolute;
 			left: 0;
 			bottom: 0;
 			background-color: $mkh-blue1;
 			opacity: .60;
 			padding: 3%;
 		}

	 	.title {
	 		width: 94%;
	 		@include font-normal();
	 		@include tiny-font();

	 		a {
	 			display: block;
	 			position: relative;
	 			padding-top: 10%;
	 			text-decoration: none;
		 		&:hover {
		 			color: $white;
		 			text-decoration: underline;
		 		}
		 		&:link {
					color: $white;
				}
				&:visited {
					color: $white;
				}	
	 		}
	 	}
 	
 }