/**
 * Style definition of brick-layout: Brick1x1
 *
 * @author agms
 */


 .masonry {

 	.brick1x1 {

 		a {
 			display: block;
 			position: relative;
 			padding-top: 100%;
 			background-color: $grey;
 			background-size: cover;
 			background-position: center center;
 			text-decoration: none;
 			background-repeat: no-repeat;

 			&::before {
        @include transition(background-color $speed $ease);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      // Hover
      &:hover {
        &::before {
          background-color: $black-overlay;
        }
      }
 		}

 		.wrapper {
 			@include linear-gradient(
        transparent 0%,
        $charcoal-opacity-extra-dark 100%
      );
 			width: 100%;
 			position: absolute;
 			left: 0;
 			bottom: 0;
 			padding: 25px $box-padding $box-padding;
 			color: $white;
 		}

 		.title {
 			@include font('display');
 		}

 		.tag {
 			@include font('display-small');
 		}

    .lead {
      @include transition(opacity $speed $ease);
      top: 0;
      left: 0;
      width: 100%;
      color: $white;
      opacity: 0;
      overflow: hidden;

      @include font('display-small');
      @include transition(
        height $speed $ease,
        opacity $speed $ease
      );
      position: static;
      height: 0;
      padding: 0;
    }

    // Hover for non touch devices
    &:hover {
      .lead {
        opacity: 1;
      }
    } 


 		&.w2 {
 			a {
 				padding-top: 1/2 * 100% - $gutter;
 			}
 			.wrapper {
 				padding: 25px $box-padding $box-padding;
 			}
 		}
 	}

  // Use smaller font on walls in primary content when left menu is visible

    &.left-menu-visible .brick1x1 {
      .wrapper {
        padding: 10px $box-padding 5px;
      }
      .tag {
        @include font('base');
        @include font('base-bold');
      }
      .title {
        @include font('display-small');
      }
      .lead {
        @include font('base');
        @include font('base-bold');
      }

       @include media($tablet) {
        .wrapper {
          padding: 25px $box-padding $box-padding;
        }
        .title {
          @include font('display');
        }
        .lead {
          @include font('display-small');
        }
      }
    }
  
  
 }