/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */



 .packery {

 	.imagewtitle {

 		.wrapper {
 			width: 100%;
 			position: absolute;
 			left: 0;
 			bottom: 0;
 			background-color: $white;
 			padding: 2% 0 0 0;
 		}

 		.title, .tag {
 			display: inline;
 		}

 		.tag::after {
 			content: ": ";
 		}

 		&.col2 {
 			.tag, .title {
 				@include large-font();
 			}
 			.wrapper {
 				padding: 2% 0 0 0;
 			}
 		}


 		.tag {
 			a {
 				color: $black; 				
 			}
 			a:hover {
 				text-decoration: underline;
 			}
 		}
 	}
 }