/**
 * Style definition of brick-layout: Image with title
 *
 * @author agms
 */

/**
* Linkcollection styling
*/

.packery {

	.linkcollection {
		@include colored-dot();
		@include colored-title();

		.title {
			@include larger-font();
 			width: 100%;
 			font-family: "SourceSansProBold";  			
 			padding: 0 0 8px 0;

		}

		.lead {
			position: relative;
 			left: 0;
 			top: 0;
 			width: 100%;
 			font-family: "SourceSansProRegular"; 
 			padding-bottom: 2%;
		}

		.link {
			position: relative;
 			left: 0;
 			top: 0;
 			width: 100%;
		}

		.link a {
			display: block;
			@include small-font();
			width: 100%;
			padding-top: 2%;
			padding-bottom: 1%;

			@include dotted-gradient;

			&:before {
				font-family: fontawesome;
				@include tiny-font();
		    content: "\F04D";
		    margin-right: .5em;
			}
			&:first-child {
				padding-top: 0;
			}
		}
	}
}

 /**
* Titlelink colors
*/

.packery {
	.linkcollection a {
		@include colored-dot();	
	}
}