/**
 * Style definition of brick-layout: Graytone button
 *
 * @author agms
 */

 @import "compass/css3";

 .packery {

 	.buttonbrick {

 		.wrapper {
 			background-color: $gray;
 			background: -webkit-linear-gradient(rgba(11, 30, 45, 0.1) , rgba(11, 30, 45, 0.7)); /* For Safari 5.1 to 6.0 */
 			background: -o-linear-gradient(rgba(11, 30, 45, 0.1), rgba(11, 30, 45, 0.7)); /* For Opera 11.1 to 12.0 */
 			background: -moz-linear-gradient(rgba(11, 30, 45, 0.1), rgba(11, 30, 45, 0.7)); /* For Firefox 3.6 to 15 */
 			background-image: linear-gradient(rgba(11, 30, 45, 0.1), rgba(11, 30, 45, 0.7));
 			width: 100%;
 			position: absolute;
 			left: 0;
 			bottom: 0;
 			padding: 3%;
 			color: #fff;

 		}

 		.title {
 			width: 94%;
 		}

 		a {
 			display: block;
 			position: relative;
 			padding-top: 56.25%;
 			background-color: #e5e5e5;
 			background-size: cover;
 			background-position: center center;
 			text-decoration: none;
 		}


 		.title {
 			&:hover {
 				text-decoration: underline;
 			}		
 		}

 		&.col2 {
 			.title {
 				@include large-font();
 				@media only screen and (max-width: $breakpoint-large) {
 					@include medium-font();
 				}
 			}

 			.wrapper {
 				padding: 2%;
 			}
 		}

 		&.col3 {
 			.title {
 				@include small-font();
 				@media only screen and (max-width: $breakpoint-large) {
 					@include medium-font();
 				}
 			}
 		}
 	}
 }

