/**
 * Mixins
 *
 * @author magnify
 */

/* Breakpoints
========================================================================== */

$breakpoint-low:                  580px;
$breakpoint-small:                480px;
$breakpoint-medium:               768px;
$breakpoint-large:                940px;
$breakpoint-x-large:              1210px;


/* Media query
========================================================================== */

@mixin respond-to($media) {
	// Sizes
	@if $media == low {
		@media only screen and (max-width: $breakpoint-small) { @content; }
	}

	@if $media == small {
		@media only screen and (min-width: $breakpoint-small + 1) and (max-width: $breakpoint-medium) { @content; }
	}

  @if $media == small-medium-low {
    @media only screen and (max-height: $breakpoint-low) and (max-width: $breakpoint-medium) { @content; }
  }

  @else if $media == medium {
    @media only screen and (min-width: $breakpoint-medium + 1) and (max-width: $breakpoint-large) { @content; }
  }

  @else if $media == large {
    @media only screen and (min-width: $breakpoint-large + 1) and (max-width: $breakpoint-x-large) { @content; }
  }

  @else if $media == x-large {
    @media only screen and (min-width: $breakpoint-x-large + 1) { @content; }
  }

}


/* Breakpoints
========================================================================== */

@mixin low {
  @include respond-to(low) { @content; }
}

@mixin small {
  @include respond-to(small) { @content; }
}

@mixin small-medium {
  @include respond-to(small-medium) { @content; }
}

@mixin small-medium-low {
  @include respond-to(small-medium-low) { @content; }
}

@mixin medium {
  @include respond-to(medium) { @content; }
}

@mixin medium-large {
  @include respond-to(medium-large) { @content; }
}

@mixin large {
  @include respond-to(large) { @content; }
}

@mixin x-large {
  @include respond-to(x-large) { @content; }
}

@mixin large-x-large {
  @include respond-to(large-x-large) { @content; }
}


/* Typography mixins
 *
 * These are mixins to allow for use in media queries
 ========================================================================== */

 @mixin font-normal() {
  font-family: $base-font-family;
  font-weight: $base-font-weight-normal;
}

@mixin font-bold() {
  font-family: $font-bold;
  font-weight: $base-font-weight-normal;
}

@mixin font-extrabold() {
  font-family: $font-extrabold;
  font-weight: $base-font-weight-normal;
}

@mixin font-italic() {
  font-family: $font-regular-italic;
  font-weight: $base-font-weight-normal;
}

/* Border mixin
 *
 ========================================================================== */

 @mixin dotted-gradient() {
  background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

/* Corner ribbon
 *
 ========================================================================== */

 @mixin ribbon($brickcolor: $brickblack) {
  background-color: $brickcolor;
  border: 2px solid lighten($brickcolor, 15%);
  color: $white;
  display: block;
  width: 60%;
  margin: 1px 0;
  padding-right: 1%;
  padding-left: 1%;
  text-align: center;
  position: absolute;
  right:0px;
  line-height: 18px;

  top: 10%;
 
}